rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /preventivi/{preventivoId} {
      allow read, create, update: if true;
      allow delete: if false;
    }
  }
}
